.mainWrapper{
    display: flex;
    justify-content: "center";
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.modal{
    display: none;
    width: 60vw;
    height: 60vh;

    position: fixed;
    z-index: 99;
    left: 20vw;
    top: 20vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    border: 1px black solid
}
